<%# <form action="/users" method="post" accept-charset="UTF-8"> %>
  <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> %>
  <%# <label for="username">Username:</label> %>
  <%# <input type="text" id="username" name="user[username]"> %>
  <%# <label for="email">Email:</label> %>
  <%# <input type="email" id="email" name="user[email]"> %>
  <%# <label for="password">Password</label> %>
  <%# <input id="password" type="password" name="user[password]"> %>
  <%# <input type="Submit" value="new"> %>
  <%# </form> %>

<%= form_tag("/users", method: "post")
